<nav class="navbar navbar-dark bg-black mb-4">
<div class="container">
    <a href="/index" class="navbar-brand">my app MongoDB</a>
        <a href="/alumnos/agregar" class="navbar-brand">Alumnos</a>
        <a href="/asignaturas/agregar" class="navbar-brand">Asignaturas</a>
        <a href="/profesores/agregar" class="navbar-brand">Profesores</a>


        
</div>
</nav>