<div class="card card-body p-4 rounded-0 bg-dark text-white">
  <h4>Agregar Profesores</h4>
  <h1>Profesores</h1>
<form action="/profesores/agregar" method="POST">
    <div>
      <label for="rfc">Escribe su RFC:</label>
      <input type="text" name="rfc" placeholder="rfc" id="rfc" class="form-control bg-dark text-white"/>
    </div>
    <div>
      <label for="nombre">Escribe tu nombre(s):</label>
      <input type="text" name="nombre" placeholder="Nombre" id="nombre" class="form-control bg-dark text-white"/>
    </div>
    <div>
      <label for="paterno">Escribe tu apellido paterno:</label>
      <input type="text" name="paterno" placeholder="Apellido Paterno" id="paterno" class="form-control bg-dark text-white"/>
    </div>
    <div>
      <label for="materno">Escribe tu apellido materno:</label>
      <input type="text" name="materno" placeholder="Apellido Materno" id="materno" class="form-control bg-dark text-white"/>
    </div>
    <div>
      <label for="fechaNac">Selecciona Fecha:</label>
      <input type="date" name="fechaNac" placeholder="12/01/0000" id="fechaNac" class="form-control bg-dark text-white"/>
    </div>
    <div>
      <label for="direccion">Direccion:</label>
      <input type="text" name="direccion" placeholder="direccion" id="direccion" class="form-control bg-dark text-white"/>
    </div>
    <div>
      <label for="telefono">Escribe tu numero telefonico:</label>
      <input type="number" name="telefono" placeholder="celular" id="telefono" class="form-control bg-dark text-white"/>
    </div>
    <div>
      <label for="profecion">Profesion:</label>
      <input type="text" name="profecion" placeholder="profecion" id="profecion" class="form-control bg-dark text-white"/>
    </div>
    <div>
      <label for="numeroEmp">Numero de Empleado:</label>
      <input type="number" name="numeroEmp" placeholder="numeroEmp" id="numeroEmp" class="form-control bg-dark text-white"/>
    </div>
    <button  class="btn btn-success btn-sm mt-2">Agregar</button> 
</form>

</div>
