<div class="card card-body p-4 rounded-0 bg-dark text-white">
  <h4> Agregar Asignaturas</h4>
  <h1>Asignaturas</h1>
<form action="/asignaturas/agregar" method="POST">
    <div>
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" placeholder="Nombre" id="nombre" class="form-control bg-dark text-white"/>
    </div>
    <div>
      <label for="creditos">Creditos:</label>
      <input type="number" name="creditos" placeholder="creditos" id="creditos" class="form-control bg-dark text-white"/>
    </div>
    <div>
      <label for="horas">Horas:</label>
      <input type="number" name="horas" placeholder="Horas" id="horas" class="form-control bg-dark text-white"/>
    </div>
    <button  class="btn btn-success btn-sm mt-2">Agregar</button> 
</form>

</div>

