body{
    background: #434040;
}

.bg-black{
    background: #111111;
}

section{
    display: flex;
    width: 1600px;
    height: 620px;
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover{
    cursor: crosshair;
    width: 600px;
    opacity: 1;
    filter: contrast(120%);
}